@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 214 30% 95%;
    --foreground: 214 30% 15%;

    --card: 214 30% 95%;
    --card-foreground: 214 30% 15%;

    --popover: 214 30% 95%;
    --popover-foreground: 214 30% 15%;

    --primary: 214 30% 15%;
    --primary-foreground: 214 30% 95%;

    --secondary: 214 30% 85%;
    --secondary-foreground: 214 30% 15%;

    --muted: 214 30% 85%;
    --muted-foreground: 214 30% 45%;

    --accent: 214 30% 75%;
    --accent-foreground: 214 30% 15%;

    --destructive: 214 84.2% 60.2%;
    --destructive-foreground: 214 30% 95%;

    --border: 214 30% 80%;
    --input: 214 30% 80%;
    --ring: 214 30% 15%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 214 30% 8%;
    --foreground: 214 30% 95%;

    --card: 214 30% 15%;
    --card-foreground: 214 30% 95%;

    --popover: 214 30% 15%;
    --popover-foreground: 214 30% 95%;

    --primary: 214 30% 95%;
    --primary-foreground: 214 30% 15%;

    --secondary: 214 30% 25%;
    --secondary-foreground: 214 30% 95%;

    --muted: 214 30% 25%;
    --muted-foreground: 214 30% 65%;

    --accent: 214 30% 35%;
    --accent-foreground: 214 30% 95%;

    --destructive: 214 62.8% 30.6%;
    --destructive-foreground: 214 30% 95%;

    --border: 214 30% 25%;
    --input: 214 30% 25%;
    --ring: 214 30% 75%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'JetBrains Mono', '微软雅黑 light', 'youyuan';
    font-size: 14px;
  }
}

::-webkit-scrollbar {
  @apply w-1;
}

::-webkit-scrollbar-track {
  @apply bg-primary-foreground;
}

::-webkit-scrollbar-thumb {
  @apply bg-secondary;
}
